// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Extend fallback
//  _____________________________________________

//  Magento extend fallback handling. Should be EMPTY.

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .category-image-container {
        position: relative;
        .page-title-wrapper {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 50px;
            text-align: center;
            h1 {
                color: @color-white;
                text-transform: uppercase;
                text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.74);
                margin: 0;
            }
        }

        .category-image {
            .image {
                width: 100%;
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .cms-index-index {
        .page-header {
            margin-bottom: 0;
        }
    }

    .cms-home .rivitBanner,
    .catalog-category-view  .rivitBanner {
        display: none;
    }

    .bluefoot-wrapper {
        .bluefoot-accordion {
            h4{
                &.bluefoot-accordion-link {
                    font-size: 18px;
                    font-weight: 400;
                    padding: 10px 0;
                    &:after {
                        font-size: 18px;
                        font-weight: 400;
                    }
                }
            }
        }
    }
    .cms-faq {
        .page-title-wrapper {
            .page-title {
                .base {
                    font-size: 34px;
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .cms-index-index {
        .page-wrapper {
            padding-top: 151px;
        }
    }
}
