<?xml version="1.0"?>
<!--
/**
 * Plumrocket Inc.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End-user License Agreement
 * that is available through the world-wide-web at this URL:
 * http://wiki.plumrocket.net/wiki/EULA
 * If you are unable to obtain it through the world-wide-web, please
 * send an email to support@plumrocket.com so we can send you a copy immediately.
 *
 * @package     Plumrocket Product Filter v3.x.x
 * @copyright   Copyright (c) 2016 Plumrocket Inc. (http://www.plumrocket.com)
 * @license     http://wiki.plumrocket.net/wiki/EULA  End-user License Agreement
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>

        <add id="Plumrocket_ProductFilter::prproductfilter" title="Product Filter" translate="title" module="Plumrocket_ProductFilter" parent="Plumrocket_Base::elements" sortOrder="9604104" resource="Plumrocket_ProductFilter::prproductfilter"/>

        <add id="Plumrocket_ProductFilter::prproductfilter_configuration" title="Configuration" translate="title" module="Plumrocket_ProductFilter" parent="Plumrocket_ProductFilter::prproductfilter" sortOrder="20" action="adminhtml/system_config/edit/section/prproductfilter" resource="Plumrocket_ProductFilter::config_prproductfilter"/>
    </menu>
</config>
