/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

@import 'source/lib/_lib.less'; // Global lib
@import 'source/_sources.less'; // Theme styles
@import 'source/_components.less'; // Components styles (modal/sliding panel)

//Removeal of Rivet Branding
#TOG .rvt-pull-right {display: none;}
#TOG .rvt-theme-light .rvt-t-btn-default{
  color: @color-black !important;
  border-color: @color-black !important;
  width: 200px;
  margin: 47px auto;
}
//Change Rivet Star Color
//Top-Stars Customer Experience
#TOG .rvt-theme-light .rvt-no-link, #TOG [class*=rvt-theme-] .rvt-theme-light .rvt-no-link, #TOG [class*=rvt-theme-] [class*=rvt-theme-] .rvt-theme-light .rvt-no-link {
  color: #f1cb1a !important;
}
#TOG .rvt-theme-photo .rvt-no-link, #TOG [class*="rvt-theme-"] .rvt-theme-photo .rvt-no-link, #TOG [class*="rvt-theme-"] [class*="rvt-theme-"] .rvt-theme-photo .rvt-no-link {
  color: #f1cb1a !important;
}


a.action.advanced,  .header.panel .header.links li:nth-child(2), .header.panel .header.links li:last-child {
  display: none;
}

.preFooter {
  padding: 30px 20px;
}
.prod-col-one {
  padding: 20px 0 30px;
}

  body .footerContent {
    h5, .block .title strong {
      font-size: 20px;
      color: @color-white;
      margin-bottom: 10px;
    }
    ul {
      padding-bottom: 15px;
      font-size: 20px;

      li a{
        list-style: none;
        color: @color-alabaster;
        text-transform: uppercase;
        font-size: 12px;
        text-decoration: none;
      }
    }
  }

footer .footer.content ul > li {
  margin-bottom: 15px;
}
body .block.newsletter {
  display: none;
  .title {
    display: block;
    color: @color-white;
    strong {
      font-size: 20px;
    }
  }
}
body .footerLogo {
  clear:both;
}

body .page-wrapper > .page-bottom {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  background: @color-boulder;
}


a.block-promo {
  &.middleBlock {
    width:100%;
  }
  margin-bottom: 16px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  display: block;
  width: 50%;
  color: #333 !important;
  .content {
    display: block;
    box-sizing: border-box;
    position: absolute;
    z-index: 1;
    overflow: hidden;
    padding: 25px 35px 35px;

    .info {
      display: block;
      font-weight: 300;
      font-size: 2.2rem;
      margin-bottom: 20px;
    }
    .title {
      display: block;
      font-weight: 300;
      font-size: 3.2rem;
      line-height: 1.2;
      margin-bottom: 15px;
    }
    .button.more {
      cursor: pointer;
      display: inline-block;
      font-size: 1.4rem;
      font-weight: 700;
      box-sizing: border-box;
      vertical-align: middle;
      padding: 7px 15px;
    }
  }
}
.home-top-left, .home-top-right, .home-bottom-left, .home-bottom-right, .middleBlock {
  height: 100%;
  .content {
    color: @color-white;
    font-weight: 900;
    top: 40px;
    width: 100%;
    height: 85%;
    text-align: center;
    .info{
      font-weight: 500;
    }

    .action.more.icon {
      position: absolute;
      bottom: 0;
      text-align: center;
      right: 0;
      left: 0;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
.block-promo-wrapper .block-promo {
  float: left;
  text-align: center;
}

//Font Family Variables
@font-family-name__base: 'Nunito Sans', sans-serif;
@font-family_Nunito_primary: @font-family-name__base, @font-family__sans-serif;
@font-family-name__base2: 'Raleway', sans-serif;
@font-family_Ralway_secondary: @font-family-name__base2, @font-family__sans-serif;

//  Font families guide also in lib/css
@font-family__sans-serif: 'Helvetica Neue', Helvetica, Arial, sans-serif;
@font-family__serif: Georgia, 'Times New Roman', Times, serif;
@font-family__monospace: Menlo, Monaco, Consolas, 'Courier New', monospace;
@font-family__base: @font-family__sans-serif;


//Global Default Styles settings for site
& when (@media-common = true) {
  body {
    font-family: @font-family_Ralway_secondary;
    color: @color-black;
    font-size: 16px;
    font-weight: 300;
    width: 100%;

    h1, h2, h3, h4, h5, h6 {
      font-family: @font-family_Nunito_primary;
      color: @color-black;
    }
    h1 {
      font-size: 52px;
      font-weight: 700;
    }
    h2 {
      font-size: 38px;
    }
    h3 {
      font-size: 32px;
    }
    h4 {
      font-family: @font-family__sans-serif;
      font-size: 26px;
    }
    h5 {
      font-family: @font-family_Ralway_secondary;
      font-size: 22px;
    }
    h6 {
      font-size: 14px;
      text-transform: uppercase;
    }
    p {}

    button.action.secondary, button.action.subscribe.primary {
      background: @color-white;
      color: @color-black;
      border: 2px solid @color-black;
      padding: 12px 47px;
    }
    input[type="text"], input[type="password"], input[type="url"], input[type="tel"], input[type="search"], input[type="number"], input[type="datetime"], input[type="email"] {
      background: #d8d8d82e;
      font-size: 16px;
      border: 1px solid #7a7a7a2e;
      border-radius: 2px;
      color: @color-steel-grey;
      height: 44px;
      font-family: @font-family_Ralway_secondary
    }
    ._keyfocus *:focus, input:not([disabled]):focus, textarea:not([disabled]):focus, select:not([disabled]):focus {
      background: @color-white;
      color: @color-black;
      border: 1px solid @color-steel-grey;
      box-shadow: none;
    }

    .block-promo-wrapper .block-promo {
      float: left;
    }

    .block-search .control {
      border-top: none;
    }
    .block-search .label {
      margin: -69px 56px 0 0;
      width: 10px;
    }
    .footerContent .footerUl {
      margin-right: 85px;
      float:left;
    }
    footer {
      background: @color-black;
      color: @color-alabaster;
      &.page-footer {
        .footer.content {
          padding-top: 46px;
          border-top: none;
          margin-top:0;
          .links li a {
            color: white;
            text-decoration: none;
          }
          h5 {
            margin-top: 0;
          }
          .newsletter {
            margin-right: 12px;
            margin-bottom: 10px;
            input[type="email"] {
              background: @color-boulder;
              color: @color-alabaster;
            }
            .form.subscribe {
              padding-bottom: 25px;
            }
            button.action.subscribe.primary {
              background: @color-black;
              border: 2px solid @color-white;
              color: @color-white;
            }
            p {
              font-weight: 700;
            }
            .block.newsletter .field .control:before {
              display: none;
            }
          }
          .socialLinks li {
            display: inline-block;
            padding-right: 30px;
            a {
              font-size: 30px;
            }
          }
        }
      }
    }

    .categories-menu a:link, .categories-menu a:visited, .categories-menu a:hover, .categories-menu a:active, ul > li, ol > li a, .product-item-name > a {
      //color: @company_color_grey;
    }
    &.catalog-product-view {
      .page-title-wrapper span {
      }
      .product-info-price {
      }
      .product #product.info.description {
        p {
        }
      }
      .related {
        .product {
          a {
          }
          .price-box span {
          }
        }
      }
    }
    &.page-products {
      .product-item-info {
        .product-item-link {
        }
        .price {
        }
      }
    }

    header {
      .block-minicart {
        .minicart-items-wrapper {
          .product-item-name a {
          }
          .product-item-pricing {
          }
        }
      }
    }
  }
}
// Mobile
// (for all mobile styles.)
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
  body {
    h1 { font-size: 34px; }
    h2 { font-size: 30px; }
    h3 { font-size: 26px; }
    h4 { font-size: 21px; }
    h5 { font-size: 20px; }
    h6 { font-size: 13px; }
    button.action.primary, button.action.secondary, .review-form .action.submit.primary, .action.submit.primary, .action.primary, .block-promo .button.more {
      font-size: 15px;
      padding: 12px 47px;
    }
    input[type="text"], input[type="password"], inut[type="url"], input[type="tel"], input[type="search"], input[type="number"], input[type="datetime"], input[type="email"] {
      height: 42px;
      font-size: 15px;
    }
    .middleBlock .content {
      color: #ffffff;
      font-weight: 900;
      top: 10px;
    }
    .block-promo-wrapper .block-promo {
      text-align: center;
    }

  }
}
  // Tablet
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
  body {
    h1 {
      font-size: 44px;
    }
    h2 {
      font-size: 36px;
    }
    h3 {
      font-size: 30px;
    }
    h4 {
      font-size: 24px;
    }
    h5 {
      font-size: 20px;
    }
    h6 {
      font-size: 13px;
    }
    button.action.primary, button.action.secondary, .review-form .action.submit.primary, .action.submit.primary, .action.primary, .block-promo .button.more {
      font-size: 15px;
      padding: 12px 47px;
    }
    input[type="text"], input[type="password"], input[type="url"], input[type="tel"], input[type="search"], input[type="number"], input[type="datetime"], input[type="email"] {
      height: 42px;
    }
    .block-promo {
      width: 100%;
    }
  }
}

// Only in Desktop
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
  body {
    .minicart-wrapper {
      top: -28px;
    }
  }
}

@media (min-width: 768px) {
  a.home-top-left, .home-bottom-left {
    margin-right: 2%;
  }

  a.block-promo {
    &.home-top-left, &.home-top-right, &.home-bottom-left, &.home-bottom-right {
      width: 49%;
      img {
        min-width: 100%;
      }
    }
  }
}

body {
  //Correction of blank responsive styling
  .checkout-shipping-method .actions-toolbar > .primary {
    float: none;
  }

  //Sport Dog Color Override of Magento Colors in default

  .review-field-rating .review-control-vote:before {
    content: '\e605' '\e605' '\e605' '\e605' '\e605';
  }

  .fotorama__thumb-border {
    border: 1px solid @color-alabaster;
  }
  .swatch-option.selected {
    outline: 2px solid @color-alabaster;
  }
  .fieldset > .field.required > .label:after, .fieldset > .fields > .field.required > .label:after, .fieldset > .field._required > .label:after,
  .fieldset > .fields > .field._required > .label:after {
    color: @color-alabaster;
  }

  .abs-action-remove, .abs-discount-block .action.check, .popup .actions-toolbar .action.cancel, .paypal-button-widget .paypal-button,
  .bundle-options-container .action.back, .block.related .action.select, .cart.table-wrapper .action.help.map, .checkout-index-index .modal-popup .modal-footer .action-hide-popup, .opc-wrapper .edit-address-link,
  .opc-block-shipping-information .shipping-information-title .action-edit, .action-auth-toggle,
  .checkout-payment-method .checkout-billing-address .action-cancel, .checkout-agreements-block .action-show,
  .gift-options .actions-toolbar .action-cancel, .gift-summary .action-edit, .gift-summary .action-delete, .action-gift,
  .gift-wrapping-title .action-remove, .wishlist.split.button > .action, .abs-add-fields .action.remove,
  .paypal-review-discount .action.check, .cart-discount .action.check, .form-giftregistry-share .action.remove, .form-giftregistry-edit .action.remove,
  .form-add-invitations .action.remove, .form-create-return .action.remove, .form.send.friend .action.remove {
    color: @color-alabaster;
  }

  .abs-action-button-as-link:hover, .abs-action-remove:hover, .cart.table-wrapper .action.help.map:hover, .opc-wrapper .edit-address-link:hover,
  .opc-block-shipping-information .shipping-information-title .action-edit:hover, .action-auth-toggle:hover, .checkout-payment-method .checkout-billing-address
  .action-cancel:hover, .checkout-agreements-block .action-show:hover, .cart-summary .block.giftcard .action.check:hover, .gift-options .actions-toolbar
  .action-cancel:hover, .table-comparison .wishlist.split.button > .action:hover, .product-items .wishlist.split.button > .action:hover, .paypal-button-widget
  .paypal-button:hover, .abs-add-fields .action.remove:hover, .form-giftregistry-share .action.remove:hover, .form-giftregistry-edit .action.remove:hover,
  .form-add-invitations .action.remove:hover, .form-create-return .action.remove:hover, .form.send.friend .action.remove:hover {
    color: initial;
  }
}

    //Default styling overrides

//Product tab info
.product.data.items > .item.title > .switch {
  color: @color-alabaster;
}
.data.switch .counter {
  color: @color-alabaster;
}
.product.data.items > .item.content {
  color: @color-alabaster;
}
#product.info.description ul > li {
  color: @color-alabaster;
}
.product.data.items > .item.title:not(.disabled) > .switch:active, .product.data.items > .item.title.active > .switch, .product.data.items > .item.title.active > .switch:focus, .product.data.items > .item.title.active > .switch:hover {
  color: @color-alabaster;
}
//end Product tab info

a.nav-sections-item-switch {
  color: @color-alabaster;
}
.filter-options-title:hover {
  color: @color-alabaster;
}
