<!-- ko if: isProductLoaded() -->
<div class="fieldset">
    <!-- ko if: isSubscriptionMode(subscriptionOnlyMode)  -->
    <input type="hidden" name="subscription_option[option]" data-bind="value: subscriptionOption">
    <!-- ko i18n: productPrice.priceWithDiscountText --><!-- /ko -->
    <!-- /ko -->
    <!-- ko if: isSubscriptionMode(subscriptionAndOneTimePurchaseMode) -->
    <div class="field choice">
        <input type="radio"
               name="subscription_option[option]"
               id="option_oneTimePurchase"
               class="radio"
               data-bind="checked: subscriptionOptionValue, value: oneTimePurchaseOption" />
        <label class="label" for="option_oneTimePurchase">
            <!-- ko i18n: 'One-time purchase' --><!-- /ko -->
            <!-- ko text: ' - ' --><!-- /ko -->
            <!-- ko template: oneTimePurchasePriceTemplate --><!-- /ko -->
        </label>
    </div>
    <div class="field choice">
        <input type="radio"
               name="subscription_option[option]"
               id="option_subscription"
               class="radio"
               data-bind="checked: subscriptionOptionValue, value: subscriptionOption" />
        <label class="label" for="option_subscription">
            <!-- ko i18n: 'Autoship & Save' --><!-- /ko -->
            <!-- ko text: ' - ' --><!-- /ko -->
            <!-- ko template: subscriptionPriceTemplate --><!-- /ko -->
            <!-- ko i18n: ' (Save an extra 5%)' --><!-- /ko -->
        </label>
    </div>
    <!-- /ko -->

    <div class="field">
        <label class="label">
            <!-- ko i18n: 'Delivery every' --><!-- /ko -->
            <!-- ko text: ':' --><!-- /ko -->
        </label>
        <div class="control">
            <select name="subscription_option[interval]"
                    data-bind="options: product.intervals, checked: intervalValue, value: intervalValue"></select>
        </div>
    </div>
</div>
<!-- /ko -->

<!-- ko foreach: getRegion('messages') -->
<!-- ko template: getTemplate() --><!-- /ko -->
<!--/ko-->
